#fileselector {
    margin: 10px;
}
.upload-button {
    display:none;
}
.margin-correction {
    margin-right: 10px;
}
#showimage{max-width: 90%;}
.flex-direction-column{top: 100%; margin-bottom: 10px; width: auto !important;min-width: auto !important;}
.month-container{height:auto !important;}
#DatePicker.datepicker-container .datepicker-days .datepicker-day{height:31px !important;}
.fos-section .showimage{max-width: 600px;padding:10px;}